{% extends "proj_layout.html" %}
{% block content %}
    <h1>Project Summary</h1>
    <p>Project Responsibilities
Cornelius: Basic structure design, Project description and Project  Testing
Maureen: Project Description, enhancement of project design and Project Testing
Collaboration was done throughout the project 


Project Design
The flask framework was used to design the gradebook app it includes a login page with a protected password, that can be accessed with a User  Name and Password. Python classes and objects  are  used .There are four classes -  AUser class, Student class, Assignment class and Grades class.
In terms of the structure,  the data is stored in a  SQL database  with four tables which includes  the Students, Assignments, Grades and Student Report.  SQLAlchemy is used  to connect to the  SQL database in order to perform querying and editing tasks.
Get and Post are used so that grades can be posted and retrieved. Average grades can be calculated by
Once logged in  the student roster can be viewed and student information can be updated or  a student can be added or deleted.  Students assignments and grades can also be updated, added or deleted.

 </p>
{% endblock content %}